<mat-toolbar>分析</mat-toolbar>

<section class="status-section">
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <mat-card class="status-card" fxLayoutAlign="center">主站：<a
      href="https://travis-ci.com/wangyucode/wycode.cn"><img
      src="https://travis-ci.com/wangyucode/wycode.cn.svg?branch=master" alt="主站"></a>
    </mat-card>
    <mat-card class="status-card" fxLayoutAlign="center">
      管理页面：<a href="https://travis-ci.com/wangyucode/wycode-admin" style="margin-right: 24px;"><img
      src="https://travis-ci.com/wangyucode/wycode-admin.svg?branch=master" alt="Admin"></a>
    </mat-card>
    <mat-card class="status-card" fxLayoutAlign="center">API：<a href="https://wycode.cn/api.html"><img
      src="https://wycode.cn/web/api/public/admin/dashboard/status" alt="API"></a></mat-card>
  </div>
</section>

<section class="charts-section" fxLayout fxLayoutGap="20px" fxLayoutAlign="space-between stretch">
  <app-access-record fxFlex></app-access-record>
  <app-app-use fxFlex></app-app-use>
</section>

<section class="error-section">
  <app-error-statist></app-error-statist>
</section>

