@import '~@angular/material/theming';

.side-menu {
  height: 100%;

  &__content {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link, &__link:visited {
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.8);
    text-align: left;
  }


  &__item.active &__link {
    color: mat-color(mat-palette($mat-indigo));
    background-color: rgba(17, 17, 17, 0.1);
  }


  &__link-icon {
    margin-right: 10px;
    color: rgba(17, 17, 17, 0.8);
  }

  &__item.active &__link-icon {
    color: mat-color(mat-palette($mat-indigo));
  }

}
