@import '~@angular/material/theming';

.app-container{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
mat-sidenav-container {
    background-color: mat-color($mat-blue-grey, 50);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
mat-sidenav {
    width: 250px;
}
