@import '~@angular/material/theming';
.main-header {
    background:mat-color(mat-palette($mat-indigo));
    color:mat-color(mat-palette($mat-gray,50));
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .main-nav{
        height: 60px;
        padding: 12px;
    }

    &__right-menu{
        margin: 0px;
        margin-left: auto;
        list-style: none;
    }

    &__logo {
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color:#eee;
    }
}